<!DOCTYPE html>
<html lang="en">
<head>
<title>Open source cooking</title>
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
{%load static %}
<link rel='icon' href='{% static "recipes/favicon.ico" %}' type ="image/x-icon">
<link rel="stylesheet" type="text/css" href="{% static 'recipes/style.css' %}">
</head>
<body>
  <div class="banner">
    <h1><a href="/"> 🍲 Opensource.cooking 🏺</a></h1>
		<p style="text-align: center;" class="st"><i>The</i> open source cook book.</p>
	<hr>
    <p class="st" style="/*text-align: center;*/">A diabolically simple site for finding and sharing recipes...a recipe site to end all recipe sites. Simply browse recipes by tag or search for ingredients and dishes. Submit your favourite recipe and it will be reviewed and added...</p>
    <h3 style="text-align: center;">🌰 🍇 🍏 🥔 🥩</h3>
  </div>
    {% block content %}
    {% endblock %} 
<footer>
<h1><a href="/">🧑‍🍳</a></h1>
</footer>
</body>
</html>
