{% extends "recipes/base.html" %}
{% block content %}

<h2>{{ recipe.title }}</h2>
<p>by {{ recipe.author }}</p>
<div>
    {% if recipe.tags.all %}
    <ul class="list-inline">
        {% for tag in recipe.tags.all %}
            <li class="list-inline-item">
                <a href="{% url 'recipes:tag' tag.slug %}">
                    {{ tag }}
                </a>
            </li>
        {% endfor %}
    {% endif %}
</div>
<div class="row">
    <div class="col">
        <h3>Description:</h3>
        <p>{{recipe.description}}</p>
    </div>
    <div class="col">
        <h3>Ingredients:</h3>
        <p>{{recipe.ingredients}}</p>
    </div>
    <div class="col">
        <h3>Instructions:</h3>
        <p>{{recipe.instructions}}</p>
    </div>
</div>

{% endblock %}