{% extends "recipes/base.html" %}
{% block content %}
<p class="st" style="text-align: center;">Submit a recipe <a href="/submit/">here</a></p>
<hr>
<h2>{{ recipe.title|title }}</h2>
<p style="text-align: center;">by <i>{{ recipe.author }}, </i> added on <i>{{recipe.date_submitted}}</i></p>
<div>
    {% if recipe.tags.all %}
    <div style="text-align: center;">
        {% for tag in recipe.tags.all %}
            <a href="{% url 'recipes:tag' tag.slug %}">{{ tag }}</a> &nbsp;&nbsp;
        {% endfor %}
    {% endif %}
    </div>
    <br>

    <h3>Description:</h3>
    <p>{{recipe.description}}</p>
    <h3>Time:</h3>
    <ul style="column-count: 1;">
    <li>Prep time: <i>{{recipe.prep_time}} minutes</i></li>
    <li>Cook time: <i>{{recipe.cooking_time}} minutes</i> </li>
    </ul>
    <h3>Ingredients:</h3>
    <p>{{ recipe.ingredients|linebreaks }}</p>
    <h3>Instructions:</h3>
    <p>{{ recipe.instructions|linenumbers|linebreaks }}</p>
    {% if recipe.image %}
    <img style="max-height: 40em;width:auto" src="{{recipe.image.url}}">
    <br>
    {% endif %}
    <hr>
    <p style="text-align: center;"> Back to <a href="/">index</a>.</p>
{% endblock %}
