{% extends "recipes/base.html" %}
{% block content %}

<h2>{{ recipe.title }}</h2>
<div>
    {% if recipe.tags.all %}
    <ul class="list-inline">
        {% for tag in recipe.tags.all %}
            <li class="list-inline-item">
                <a href="{{ tag }}/">
                    {{ tag }}
                </a>
            </li>
        {% endfor %}
    {% endif %}
</div>
<div>
    <h3>Description:</h3>
    <p>{{recipe.description}}</p>
</div>
<div>
    <h3>Ingredients:</h3>
    <p>{{recipe.ingredients}}</p>
</div>
<div>
    <h3>Instructions:</h3>
    <p>{{recipe.instructions}}</p>
</div>

{% endblock %}