{% extends "recipes/base.html" %}
{% block content %}
<!-- <h2>Submit a recipe <strong><a href="/submit">....here!</a></strong></h2> -->
<!-- <img src="https://clipartart.com/images/cast-iron-pan-clipart-8.jpg" width="50%" class="img-fluid mx-auto d-block rounded"> -->
<!-- {% load static %} -->
<!-- <img src="{% static 'recipes/ajvar.webp' %}" alt="" class="img-fluid mx-auto d-block rounded"> -->

<p class="st" style="text-align: center;">Submit a recipe <a href="/submit/">here</a></p>
<hr>
<h2 style="text-align: center; ">Recipes:</h2>
{% if recipe_list %}
    <ul style="column-count: 3;">
        {% for recipe in recipe_list %}
            <li><a href="{% url 'recipes:detail' recipe.recipe_slug %}">{{ recipe.title }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p> No recipes yet!</p>
{% endif %}
<hr>
{% if tags %}
    <h2 style="text-align:center;">Tags:</h2>
    <p style="text-align: center;"> 
        {% for tag in tags %}
            <a href="{% url 'recipes:tag' tag.slug %}"><i>{{ tag.name }}</i></a>&nbsp;&nbsp;
        {% endfor %}
    </p>
<br>
{% endif %}
{% endblock %}
