{% extends "recipes/base.html" %}
{% block content %}
<!-- <h2>Submit a recipe <strong><a href="/submit">....here!</a></strong></h2> -->

<h2>Recipes:</h2>
{% if recipe_list %}
    <ul class="list-inline">
        {% for recipe in recipe_list %}
            <li class="list-inline-item"><a href="{% url 'recipes:detail' recipe.recipe_slug %}">{{ recipe.title }}</a></li>
        {% endfor %}
        <!-- {% for i in "aaaaaaaaaa00000000000000000aaaaaaaallllllllllllllllllllllllllllllaaa" %}
            <li class="list-inline-item"> <a href="/"> Bog old test </a></li>
        {% endfor %} -->
    </ul>
{% else %}
    <p> No recipes yet!</p>
{% endif %}
<h2>Tags</h2>
{% if tags %}
    <ul class="list-inline">
        {% for tag in tags %}
            <li class="list-inline-item"><a href="{% url 'recipes:tag' tag.slug %}">{{ tag.name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}