{% extends "recipes/base.html" %}
{% block content %}
<hr><h2>Submit a recipe</h2>
<p style="text-align: center;">Recipes will be reviewed and added.</p>
<form action="/submit/" method="post">
    {% csrf_token %}
    {% for field in form %}
        <p> {{ field.label | safe }} </p>
        <div style="display:-webkit-flex">
            {{ field }}
        </div>
        {% endfor %}
<br>
        <p id="emailHelp" style="text-align: center;" ><small>Your email will not be included publically with the recipe and is optional.</small></p>
        <br>
        <div style="text-align: center;">
        <input type="submit" value="Submit">
    </div>
</form>
<br>
<!-- <img src="https://cdn6.dissolve.com/p/D1024_76_370/D1024_76_370_1200.jpg" width="50%" class="img-fluid mx-auto d-block rounded"> -->
{% endblock %}