
@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');

html {
	max-width: 100%;
	font-size: 100%;
}
@viewport {
  width: device-width ;
  zoom: 1.0 ;
} 
@-ms-viewport {
  width: device-width ;
} 
body {
	background: #F5F5DC;
	color: black ;
	max-width: 40em ;
	margin: 0 auto;
	padding: 0 16px ;
	margin-bottom: 20em;
	font-family: sans-serif;
	font-size: 1em;
}
input:invalid {
  border-color: red;
}
p {
	font-family: sans-serif;
}

a {
	color:dodgerblue;
}
h2 a {
  color: black;
	font-family: 'Spectral', serif ;
  /* text-decoration: none; */
}
h2 a:visited {
	font-family: 'Spectral', serif ;
  color: black;
  /* text-decoration: none; */
}
h1 a {
  color: black;
  text-decoration: none;
}
h3 {

	font-family: 'Spectral', serif ;
}
h1 a:visited {
  color: black;
  text-decoration: none;
}
ul {
	column-count: 2;
    column-gap: 10em;
}

@media only screen and (max-width:480px){
   ul{ column-count: 1;}
}

li {
    overflow-wrap: break-word;

}

input {
  -webkit-flex:1;
}
textarea {
  -webkit-flex:1;
}

a:visited {
	color:purple;
}

h1 {
	font-size: 2em;
  text-align: center ;
  line-height: 0.7;
  font-family: 'Spectral', serif;
}
.h-captcha {
	/* bordercolor: red; */
	display: inline-block;
}

.st {
  font-family: 'Spectral', serif;
}

h2 {
  color:black ;
  text-align: center;
	font-family: 'Spectral', serif ;
}

footer {
	text-align: center ;
}

img {
	max-width: 600px ;
	width: 100% ;
	margin: auto ;
	display: block ;
}

code {
	overflow-wrap: break-word ;
	color: lime ;
}
p {
  font-family: sans-serif; */
}

